absl-py>=2.0.0
apache-beam>=2.46.0
cloudml-hypertune==0.1.0.dev6
crepe>=0.0.16
dill>=0.3.1.1
future>=1.0.0
gin-config>=0.5.0
google-cloud-storage>=1.42.0,<3.0.0
hmmlearn>=0.2.7
librosa>=0.10.0
matplotlib>=3.7.0
pyparsing>=2.0.3,<4.0.0
pydub>=0.25.1
protobuf>=3.9.2,<5.0.0
mir_eval>=0.7
note_seq>=0.0.3
numpy>=1.23.5,<2.0.0
scipy>=1.10.1,<1.14.0
setuptools>=60.0.0,<70.0.0
six>=1.17.0
tensorflow>=2.15.0,<2.16.0
tensorflowjs>=4.0.0
tensorflow-probability==0.22.0
tensorflow-datasets>=4.9.0